#root {
  text-align: left;
  width: 100vw;
  height: 100vh;
}

.SectionTitle {
  text-align: left;
  margin-left: 1rem;
  animation: fadeIn 2s;
}

.Gobyu {
  display: flex;
}

.Selfie {
  width: 200px;
  margin-left: 1rem;
  border-radius: 25px;  
  animation: fadeIn 2s;
}

.SectionImage {
  width: 80px;
  border-radius: 40px;
  margin-right: 1rem;
  animation: fadeIn 2s;
}

.left-header {
  display: flex;
}

.life-image {
  width: 20rem;
  display:block;
  padding: 0.5rem;
  border-radius: 25px;
  animation: fadeIn 2s;
}

.life-images {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Dark Theme */

.dark-App {
  height: 100vh;
  background-color:#181818;
}

.dark-Header {
  display: flex;
  justify-content: space-between;
  position:sticky;
  top: 0;
  background-color: #181818;
  padding: 1rem;
  border-bottom: 2px solid;
  z-index: 99;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  animation: fadeIn 2s;
}

.dark-Home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #181818;
  color: white;
  width: 100vw;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dark-content {
  font-size: 1rem;
  margin-left: 1rem;
  text-align: left;
  color: white;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  animation: fadeIn 2s;
}

.dark-MainPanel {
  background-color: #181818;
  color:white;
  margin-bottom: 1rem;
  padding: 1rem;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dark-SectionComponent {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 10px;
  display: flex;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dark-no-margin {
  margin: 0;
  color: white;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  animation: fadeIn 2s;
}

.dark-LinkIcon {
  font-size: 50px;
  margin-left: 1rem;
}

.dark-ThemeButtonIcon {
  font-size: 25px;
  color: #6e8bff;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dark-ThemeButtonIcon:hover {
  color: #ffb700;
}

.dark-ThemeButton {
  width: 66px;
  border-width: 0;
  background-color: transparent;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dark-links-big {
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 25px;
}

.dark-links {
  color: white;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.dark-Name {
  margin: 0;
}

.dark-Footer {
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(32, 32, 32);
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dark-question-mark {
  color: rgb(10, 10, 10);
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dark-question-mark:hover {
  color: white;
}

/* Light Theme */

.light-App {
  height: 100vh;
  background-color: white;
}

.light-Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1rem;
  border-bottom: 2px solid black;
  z-index: 99;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  animation: fadeIn 2s;
}

.light-Home {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 100vw;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.light-content {
  font-size: 1rem;
  margin-left: 1rem;
  text-align: left;
  color: black;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  animation: fadeIn 2s;
}

.light-MainPanel {
  background-color: white;
  color:black;
  margin-bottom: 1rem;
  padding: 1rem;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.light-SectionComponent {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(200, 200, 200);
  color: black;
  border-radius: 10px;
  display: flex;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.light-no-margin {
  margin: 0;
  color: black;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  animation: fadeIn 2s;
}

.light-LinkIcon {
  font-size: 50px;
  margin-left: 1rem;
  color: black;
}

.light-LinkIcon:hover{
  color: #a0a0a0;
}

.light-ThemeButtonIcon {
  font-size: 25px;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #ffb700;
}

.light-ThemeButtonIcon:hover {
  color: #6e8bff;
}

.light-ThemeButton {
  width: 66px;
  border-width: 0;
  background-color: transparent;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.light-links-big {
  color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 25px;
}

.light-links {
  color: black;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.light-Name {
  margin: 0;
  color: black;
}

.light-Footer {
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(200, 200, 200);
  color: black;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.light-question-mark {
  color:rgb(128, 128, 128);
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.light-question-mark:hover {
  color:black;
}

/* Overlay for images*/
.img-container {
  position: relative;
  display: block;
}

.img-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
  background:rgba(0,0,0,0.6);
  padding: 0;
  margin: 0;
  border-radius: 25px;
  font-size: 1.5rem;
  text-align: center;
  color:white
}

.img-container:hover .img-overlay {
  opacity: 1;

}

#Contact {
  height: 75vh;
}

#Projects {
  height: 75vh;
}

.invisible {
  display: none;
}

.visibility-button {
  width: fit-content;
  border-color: transparent;
  background-color: transparent;
}

.visible {
  margin: 1rem;
  animation: fadeIn 2s;
}

.visibility-button-div {
  display:flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.heart {
  color:red;
}

.Other {
  margin: 0;
  padding: 0;
}