#root {
  margin: 1rem;
  text-align: left;
}

.SidePanel {
  text-align: left;
  position: sticky;
  top: 1rem;
  left: 0;
  height: 100%;
  background-color: #181818;
  padding: 10px;
  border-radius: 10px;
  margin-right: 1rem;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.content {
  font-size: 1rem;
  margin-left: 1rem;
  text-align: left;
}

.MainPanel {
  background-color: #181818;
  margin-bottom: 1rem;
}

.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.Links {
  display: flex;
  justify-content: left;
}

.Selfie {
  width: 250px;
  margin-left: 1rem;
}

#AboutMe {
  display: flex; 
}

.SectionTitle {
  text-align: left;
  margin-left: 1rem;
}

.SideBarList {
  font-size: 2rem;
}

.LinkIcon{
  font-size:25px;
  margin: 5px;
}

.no-margin {
  margin: 0;
}

.SectionComponent {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  display: flex;
}

.SectionImage {
  width: 80px;
  border-radius: 40px;
  margin-right: 1rem;
}