#root {
  text-align: left;
  width: 100vw;
  height: 100vh;
}

.SectionTitle {
  text-align: left;
  margin-left: 1rem;
  animation: fadeIn 2s;
}

.Gobyu {
  display: flex;
}

.Selfie {
  width: 200px;
  margin-left: 1rem;
  border-radius: 25px;  
  animation: fadeIn 2s;
}

.SectionImage {
  width: 80px;
  border-radius: 40px;
  margin-right: 1rem;
  animation: fadeIn 2s;
}

.Main-Content {
  display: flex;
}

.left-header {
  display: flex;
}

#AboutMe {
  display: flex; 
}

.life-image {
  width: 20rem;
  padding: 0.5rem;
  border-radius: 20px;
}

.life-images {
  display: flex;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Dark Theme */
.dark-Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #181818;
  padding: 1rem;
  border-bottom: 2px solid;
}

.dark-Home {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #181818;
  color: white;
  width: 100vw;
}

.dark-content {
  font-size: 1rem;
  margin-left: 1rem;
  text-align: left;
  color: white;
  animation: fadeIn 2s;
}

.dark-MainPanel {
  background-color: #181818;
  color:white;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.dark-SectionComponent {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 10px;
  display: flex;
}

.dark-no-margin {
  margin: 0;
  color: white;
  animation: fadeIn 2s;
}

.dark-LinkIcon {
  font-size:25px;
  margin: 5px;
}

.dark-ThemeButtonIcon {
  font-size: 25px;
}

.dark-ThemeButton {
  width: 66px;
  border-width: 0;
  background-color: #181818;
  color: #fff9b8;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dark-ThemeButton:hover {
  color: rgb(128, 128, 128);
}

.dark-links {
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 25px;
}

.dark-Name {
  margin: 0;
}

/* Light Theme */

.light-Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1rem;
  border-bottom: 2px solid black;
}

.light-Home {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 100vw;
}

.light-content {
  font-size: 1rem;
  margin-left: 1rem;
  text-align: left;
  color: black;
  animation: fadeIn 2s;
}

.light-MainPanel {
  background-color: white;
  color:black;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.light-SectionComponent {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(200, 200, 200);
  color: black;
  border-radius: 10px;
  display: flex;
}

.light-no-margin {
  margin: 0;
  color: black;
  animation: fadeIn 2s;
}

.light-LinkIcon{
  font-size:25px;
  margin: 5px;
  color: black;
}

.light-LinkIcon:hover{
  color: #a0a0a0;
}

.light-ThemeButtonIcon {
  font-size: 25px;
}

.light-ThemeButton {
  width: 66px;
  border-width: 0;
  color: #ffb700;
  background-color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.light-ThemeButton:hover {
  color: rgb(128, 128, 128);
}

.light-links {
  color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 25px;
}

.light-Name {
  margin: 0;
  color: black;
}
